.container,h5{  
    margin: auto;
    padding: 1%;
    margin-top:2%;
}
.btn {
    margin: auto;
}
.title{
    margin:auto;
}

.mailBody{
    margin-top: 5%;
}

.submit{
    margin: auto;
}

.bodyChoices{
    border: solid black;
}

.fileBody{
    display:none;
}
